#root {
  margin: 0;
  padding: 0;
}

.login-view {
  background-color: var(--dark-green);
}

.login-form {
  background-color: var(--light-color);
}

.login-btn,
.lecture-btn {
  background-color: var(--dark-green);
  color: var(--light-color);
}

.lecture-btn {
  text-decoration: none;
}

.form-control:focus {
  border: 2px var(--dark-green) solid !important;
  box-shadow: none;
}

.user-ranking {
  background-color: var(--beige-one);
}

.lecture-second-part {
  background-color: var(--light-green);
}

.chart-background {
  background-color: var(--light-color);
}
